<div class="row text-center">
    <div class="col-xs-10 col-xs-offset-1">
    <textarea rows="5" form="newPostForm" id="newPostText"></textarea>
    <form role="form" id="newPostForm">
        <button class="btn btn-primary" id="addPost" type="submit">Add Post</button>
    </form>
    </div>
</div>
<div class="row text-center">
    <div class="col-xs-10 col-xs-offset-1">
        <div id="newsFeed">

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="/assets/js/admin/news.js"></script>