<h1 class="text-center">Buylist</h1>
<ul id="deptTabs" class="nav nav-tabs"></ul>
<div id="itemLists"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="/assets/js/buylist.js"></script>