<div class="text-center">
    <img src="./assets/images/yugiohlogo.png">
    <ul class="list-group">
        <li class="list-group-item">Fridays at 5pm. Cost to enter is $5. All entrants recieve one pack. Prizing is determined by number of players.</li>
        <li class="list-group-item">Saturdays at noon. Free to enter, but no entry packs for participants. Prizing is determined by number of players.</li>
        <li class="list-group-item">Sundays at noon. Cost to enter is $5. All entrants recieve one pack. Prizing is determined by number of players.</li>
    </ul>
</div>
<div class="text-center">
    <img src="./assets/images/mtglogo.png">
    <ul class="list-group">
        <li class="list-group-item">Fridays at 6pm. Cost to enter is $5. All entrants recieve one pack. Prize pool will comprise of packs equal to the
            number of entrants.</li>
    </ul>
</div>
<div class="text-center">
    <img src="./assets/images/dbslogo.png">
    <ul class="list-group">
        <li class="list-group-item">Still working on it! Check with us if you have any questions.</li>
    </ul>
</div>