<div id="map"></div>
<div id="dirpanel" style="margin-top: 10px;" class="text-center"></div>
<div class="text-center"><button id="getDirs" class="btn btn-primary">Get Directions!</button></div>
<script src="./assets/js/map.js"></script>
<script async defer src="{{apiLink}}">
</script>