<div id="map" style="width: 100%; height: 400px; background-color: grey; border-radius: 25px;"></div>
<div id="dirpanel" style="margin-top: 10px;" class="text-center"></div>
<div class="text-center"><button id="getDirs" class="btn btn-primary">Get Directions!</button></div>
<script src="./assets/js/map.js"></script>
<script async defer src="{{apiLink}}">
</script>