<ul class="nav nav-tabs">
    <li role="presentation" id="fbFeed" class="active">
        <a href="#">Facebook</a>
    </li>
    <li role="presentation" id="twitFeed">
        <a href="#">Twitter</a>
    </li>
    <li role="presentation" id="instaFeed">
        <a href="#">Instagram</a>
    </li>
</ul>

<div id="smFeedBox">
    <!-- feeds go here -->
</div>

<script src="./assets/js/smfeeds.js"></script>