<ul id="feedTabs" class="nav nav-tabs">
    <li role="presentation" id="fbFeed" class="active">
        <a href="#">Facebook</a>
    </li>
    <li role="presentation" id="twitFeed">
        <a href="#">Twitter</a>
    </li>
    <li role="presentation" id="instaFeed">
        <a href="#">Instagram</a>
    </li>
</ul>

<div id="smFeedBox">
    <div id="fbFeedBox" class="feedBox">
        Loading Facebook Feed!
        {{!-- facebook feed loads here --}}
    </div>
    <div id="twitFeedBox" class="feedBox">
        Loading Twitter Feed!
        {{!-- twitter feed loads here --}}
    </div>
    <div id="instaFeedBox" class="feedBox">
        Loading Instagram Feed!
        {{!-- instagram feed loads here --}}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="./assets/js/smfeeds.js"></script>