/*sticky footer styles*/
/*https://v4-alpha.getbootstrap.com/examples/sticky-footer/sticky-footer.css*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
}
/*sticky footer styles*/

.contentBox {
	border-style: none groove groove none;
	border-width: 5px;
	border-radius: 25px;
	border-color: grey;
	padding: 15px;
}

.contactLinks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	vertical-align: middle;
}

.contactLinkImg {
	border-radius: 50%;
	margin: 2px;
}

.contactLinkImg:hover {
	box-shadow: 0 0 3pt 2pt grey;
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
	border-radius: 25px;
}

.deptTable {
	display: none;
}

.newsDate {
	font-weight: lighter;
	font-style: italic;
}

.newsContainer {
	border-style: none groove groove none;
	border-width: 5px;
	border-radius: 25px;
	border-color: grey;
	padding: 15px;
}

textarea {
	resize: none;
	width: 90%;
	border-radius: 5px;
}

.feedBox {
	display: none;
}

.instagramPic {
	width: 250px;
	height: 250px;
	display: inline-block;
	margin: 25px;
	border-style: groove;
	border-radius: 10%;
	border-width: 5px;
	border-color: #FFFFFF
}

#instaFeedBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	vertical-align: center;
}